.footer {
  padding-top: 70px;

  @include mobile {
    padding-top: 60px;
    padding-inline: 0;
  }

  &__inner {
    padding: 55px 60px 50px;
    color: var(--color-light);
    background-color: var(--color-dark);

    @include mobile-above {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 37px;
      padding: 50px var(--container-padding-x) 30px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 66px;

    @include tablet {
      flex-direction: column;
      align-items: center;
      row-gap: 37px;
    }

    @include mobile {
      display: contents;
    }
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;

      @include mobile {
        flex-direction: column;
        row-gap: 15px;
      }
    }

    &-link {
      display: inline-flex;
      align-items: center;
      height: 30px;
    }
  }

  &__soc1als {
    @include mobile {
      order: 1;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;

    @include mobile-above {
      padding-bottom: 50px;
      margin-bottom: 50px;
      border-bottom: 1px solid currentColor;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      row-gap: inherit;
    }

    @include mobile-s {
      width: 100%;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 27px;

    @include mobile {
      align-items: center;
      text-align: center;
      row-gap: inherit;
    }

    &-title {
      color: var(--color-dark);
    }

    &-body {
      p:not(:last-child) {
        margin-bottom: 20px;
      }

      @include mobile {
        p:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      a {
        @include hover {
          color: var(--color-accent);
        }
      }
    }
  }

  &__extra {
    display: flex;
    column-gap: 40px;

    @include mobile {
      order: 2;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      width: 100%;
      padding-top: 37px;
      border-top: 1px solid currentColor;
    }
  }

  &__menu-link,
  &__privacy-link {
    text-decoration: underline !important;

    @include hover {
      color: var(--color-accent);
    }
  }
}
