.pagination {
  @include flex-center;

  &__bullet {
    @include square(24px);

    display: block;
    background: url("../../images/icons/star.svg") no-repeat center;

    @include hover {
      color: var(--color-accent);
    }

    &.is-active {
      background-image: url("../../images/icons/star-active.svg");
    }
  }
}
